<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!-- Property urlRemoveWebDriver is URL for coonect to  Remove Web Driver-->
    <add key="urlRemoveWebDriver" value="test" />

    <!-- Property urlChromeDrive is URL for download chromedriver_win32.zip -->
  <add key="urlChromeDriver" value="https://chromedriver.storage.googleapis.com/85.0.4183.87/chromedriver_win32.zip" />
  
  <!-- Property urlWebPlatron is URL for coonect to platron.ru -->
  <add key="urlWebPlatron" value="https://front.platron.ru/demoshop/" />
    </appSettings>
</configuration>